In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('desafio1.csv')
df.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [3]:
df.shape

(7000, 12)

In [4]:
filtro = ['estado_residencia','pontuacao_credito']
dff = df[filtro]
dff.head()

  estado_residencia  pontuacao_credito
0                SC                619
1                RS                608
2                SC                502
3                SC                699
4                RS                850

In [5]:
df_moda = dff.groupby('estado_residencia')['pontuacao_credito'].apply(lambda x: x.mode())
df_moda = df_moda.reset_index()
df_moda = df_moda[['estado_residencia','pontuacao_credito']]
df_moda = df_moda.rename({'estado_residencia': 'UF', 'pontuacao_credito': 'moda'}, axis='columns')
df_moda.head()

   UF  moda
0  PR   850
1  RS   850
2  SC   850

In [6]:
df_mediana = dff.groupby('estado_residencia').median()
df_mediana = df_mediana.reset_index()
df_mediana.columns = ['UF','mediana']
df_mediana.head()

   UF  mediana
0  PR      650
1  RS      650
2  SC      653

In [7]:
df_media = dff.groupby('estado_residencia').mean()
df_media = df_media.reset_index()
df_media.columns = ['UF','media']
df_media.head()

   UF       media
0  PR  648.961294
1  RS  651.105143
2  SC  649.537653

In [8]:
df_desvio = dff.groupby('estado_residencia').std()
df_desvio = df_desvio.reset_index()
df_desvio.columns = ['UF','desvio_padrao']
df_desvio.head()

   UF  desvio_padrao
0  PR      98.607186
1  RS      95.136598
2  SC      97.233493

In [9]:
df_desvio.query('UF == "PR"')

   UF  desvio_padrao
0  PR      98.607186

In [14]:
#df_concat = pd.concat([df_moda, df_mediana, df_media, df_desvio], axis=1)
#df_concat

In [11]:
df_merge = pd.merge(pd.merge(pd.merge(df_moda, df_mediana), df_media), df_desvio)
df_merge

   UF  moda  mediana       media  desvio_padrao
0  PR   850      650  648.961294      98.607186
1  RS   850      650  651.105143      95.136598
2  SC   850      653  649.537653      97.233493

In [12]:
df_merge = df_merge.set_index('UF')
df_merge

    moda  mediana       media  desvio_padrao
UF
PR   850      650  648.961294      98.607186
RS   850      650  651.105143      95.136598
SC   850      653  649.537653      97.233493

In [13]:
df_merge.to_json('submission.json', orient='index')